@media (max-width: 576px) {
  .submit-btn {
    width: 90%;
  }
}

@media (min-width: 576px) {
  .submit-btn {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .submit-btn {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .submit-btn {
    width: 30%;
  }

  form {
    max-width: 80%;
  }
}

label,
select {
  cursor: pointer;
}

.ticket-container {
  max-width: 350px;
}
